html, body, .pinnackl, .container�{
  height: 100%
}

body {
  padding-top: 50px;
  background: url(../img/pexels-photo-26135.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardis�e */
  
  	color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    min-height:100%;
}
.pinnackl {
  padding: 40px 15px;
}

#datetimepickerStart, #datetimepickerFinish, #calendar {
	color:black;
}

td,
th {
	color: #222222;
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-control {
  display: inline-block;
}

.calendar-control.left-button {
  text-align: left;
}
.calendar-control.right-button {
  text-align: right;
}

.fc-view-container {
  background: #ffffff;
  box-shadow: 0 0 20px 0 #000000;
}

body .fc-event {
    cursor: pointer;
}

.add-button {

}

.add-button:hover {
  cursor: pointer;
}

.required em {
    color: #F30B06;
    float: right;
    margin-left: 6px;
}

.eventForm {
  background: rgba(255,255,255,.84);
  box-shadow: 0 0 45px 0px #000;
  padding: 2em;
}

.input-group .input-group-addon {
  vertical-align: text-top;
}

/* Date picker theme */
body .dtp > .dtp-content {
  max-height: 100%;
}

body .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #3F51B5;
}

body .dtp div.dtp-date, body .dtp div.dtp-time {
  background: #26316D;
}

body .dtp .p10 > a {
    color: #FFFFFF;
}

body .dtp table.dtp-picker-days tr > td > a.selected {
    color: #FFFFFF;
}

body .dtp table.dtp-picker-days tr > td > a.selected {
    background: #26316D;
}

body .hour-hand, body .minute-hand {
  stroke: #26316D;
}

body .dtp-select-minute[fill="#8BC34A"], body .dtp-select-hour[fill="#8BC34A"] {
  fill: #26316D;
}

.modal {
  color: #000000;
}

.modal .modal-title {
  color: #3F51B5;
}

.modal .modal-section {
  font-size: 11px;
  color: #9b9b9b;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  margin-top: 6px;
}

.calendar-icon {
  vertical-align: bottom;
  margin-right: 6px;
}