html, body, .pinnackl, .container�{
  height: 100%
}

body {
  padding-top: 50px;
  background: url(../img/pexels-photo-26135.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardis�e */
  
  	color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    min-height:100%;
}
.pinnackl {
  padding: 40px 15px;
}

#datetimepickerStart, #datetimepickerFinish, #calendar {
	color:black;
}

td,
th {
	color: #222222;
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-control {
  display: inline-block;
}

.calendar-control.left-button {
  text-align: left;
}
.calendar-control.right-button {
  text-align: right;
}

.fc-view-container {
  background: #ffffff;
  box-shadow: 0 0 20px 0 #000000;
}

.add-button {

}

.add-button:hover {
  cursor: pointer;
}

.required em {
    color: #F30B06;
    float: right;
    margin-left: 6px;
}